#####
# app
PORT=
APP_NAME=


########
## flags
ENV=development
# ENV=production


#####
## db
SQLALCHEMY_ECHO=1
# SQLALCHEMY_ECHO=
REBUILD_SCHEMA=
# REBUILD_SCHEMA=1

# DATABASE_URI_dev=sqlite:///<rel/path>
# DATABASE_URI_production=sqlite:///<rel/path>

TABLE_NAME_SUFFIX=__
DATABASE_URI_dev=postgresql://<user>:<password>@<host, ip>:<port>/<db>


##########
## secrets
SECRET_KEY=


#####
## io
IOEVENT_AUTH_NEWUSER=
IOEVENT_COM_PHOTOS_CHANGE_prefix=
IOEVENT_DOC_CHANGE_prefix=
IOEVENT_DOCS_CHANGE_JsonData=
IOEVENT_DOCS_CHANGE=
IOEVENT_DOCS_TAGS_CHANGE_prefix=
IOEVENT_FILES=
IOEVENT_ORDER_PRODUCTS_DELIVERY_AT=
IOEVENT_ORDER_PRODUCTS_STATUS=
IOEVENT_ORDER_UPDATED=
IOEVENT_ORDERS_CHANGE=
IOEVENT_POST_CHANGE_SINGLE_prefix=
IOEVENT_POSTS_CHANGE=
IOEVENT_PRODUCT_IMAGES_CHANGE_prefix=
IOEVENT_PRODUCTS_CHANGE_prefix=
IOEVENT_PRODUCTS_CHANGE_SINGLE_prefix=
IOEVENT_PRODUCTS_CHANGE=
IOEVENT_STORY_PHOTOS_CHANGE_prefix=
IOEVENT_USER_POSTS_CHANGE_prefix=

##########
## io-cors
IOCORS_ALLOW_ORIGIN_dev=http://localhost:3000
IOCORS_ALLOW_ORIGIN_nikolavrs=https://nikolav.rs


#############
## web tokens
JWT_SECRET=
JWT_SECRET_ACCESS_TOKEN=
JWT_EXPIRE_SECONDS=
JWT_SECRET_PASSWORD_RESET=
JWT_SECRET_VERIFY_EMAIL=


###########
## policies
POLICY_APPROVED=
POLICY_EMAIL=
POLICY_FILESTORAGE=
POLICY_ADMINS=
POLICY_ALL=


#######
## auth
ADMIN_EMAIL=admin@nikolav.rs
ADMIN_PASSWORD=
USER_EMAIL=korisnik@nikolav.rs
USER_PASSWORD=korisnik@nikolav.rs
AUTH_PASSWORD_MIN_LENGTH=2


##########
## storage
# UPLOAD_PATH=/app
UPLOAD_PATH=<abs path>
# UPLOAD_PATH=/home/app
UPLOAD_DIR=storage


#############
## docs, data
COM_LIKES_prefix=
COM_PHOTOS_prefix=
COM_RATING_prefix=
LIKEDISLIKE_CACHE_ID=
ORDER_COMPLETED_FEEDBACK_FORM_URL=
POST_IMAGES_prefix=
POSTS_CHAT_prefix=
POSTS_LIKES_prefix=
PRODUCT_IMAGES_prefix=
PRODUCT_RATING_prefix=
PRODUCTS_LIKES_prefix=
PRODUCTS_SEARCH_RANDOM_MAX=
TAG_FEEDBACK_ON_ORDER_COMPLETED=
TAG_USER_PROFILE_prefix=
TOPIC_CHAT_COM_prefix=
TOPIC_CHAT_PRODUCTS_prefix=
TOPIC_RATING_POSTS_prefix=
TOPIC_RATINGS=
USER_CONFIG_PREFERENCES=


# accounts
TAG_ARCHIVED=
TAG_EMAIL_VERIFIED=


########
## email
MAIL_COMPANIES_ON_ORDER=
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=
MAIL_USE_SSL=1
MAIL_ASCII_ATTACHMENTS=1


# misc
PRODUCT_CATEGORY_prefix=
