<!DOCTYPE html>
<html lang="en"
  style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box;">

<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=323">
  <meta name="author" content="nikolav.rs">

</head>

<body
  style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; margin: 0; padding: 0; word-wrap: break-word; height: 480px; background: #ffffff;">
  <div id="divMain"
    style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; background: transparent; margin-left: auto; margin-right: auto; position: relative; width: 323px; height: 480px;">
    <div
      style="box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; position: absolute; left: 2px; top: 0px; width: 320px; height: 480px;">
      <!--Body-->
      {{ data['text'] }}
    </div>
  </div>
</body>

</html>
